PORT=3000
SPREADSHEET_ID=BURAYA_GOOGLE_SHEET_ID
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"...@...iam.gserviceaccount.com","client_id":"...","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"...","universe_domain":"googleapis.com"}
MTK_SQL_SERVER=192.168.80.60
MTK_SQL_DATABASE=HbServis
MTK_SQL_USER=mtksoft
MTK_SQL_PASSWORD=BURAYA_SIFRE
MTK_SQL_PORT=1433
# Lokal bilgisayarda istersen üsttekiler yerine mevcut JSON dosyasını okut:
# MTK_SQL_CONFIG_PATH=C:\Users\saycicek\Documents\Codex\2026-06-23\bilgisayar-mda-mtksoft-servis-takip-sql\sql-config.json
